.v-navigation-drawer {
  @include shadow-big();

  .v-list {
    .v-list__tile__title {
      font-size: $font-size-general !important;
      font-weight: $font-weight-lighter;
      padding: 0;
    }

    .v-divider {
      border-color: $black-opacity-3;
      margin: $divider-margins auto $divider-margins + 25;
      width: $divider-width;
    }

    & > .single-item {
      .v-list__tile {
        border-radius: 0 !important;
        padding: 0 26px;
      }

      .v-list__tile--active {
        background: #5cb860;
        color: white !important;
        margin: 4px 10px;
        padding: 0 16px;
        border-radius: 4px !important;
      }
    }

    .v-list__group {
      .v-list__group__header {
        padding: 0 10px;
      }

      &:after {
        bottom: 0;
      }

      .v-list__group__header--active {
        background: $blue-grey;
      }

      .v-list__group__items--no-action .v-list__tile {
        padding-left: 68px;
      }

      .v-list__group__items {
        background: $sidebar-bg;
        padding: $padding-small 0;

        & > div {
          padding: 0 $padding-general;
        }
      }
    }

    .v-list__tile--avatar {
      height: unset;
      padding: $padding-logo 0;

      .v-list__tile__title {
        line-height: $line-height;
        padding: $padding-avatar-title 0;
        height: unset;
        font-size: $font-size-avatar-title !important;
        font-weight: $font-weight-base;
        letter-spacing: unset !important;
      }

      .v-list__tile__avatar {
        margin-left: $margin-list-left;
        margin-right: $margin-list-right;
        min-width: unset;
      }
    }

    .v-divider {
      border-color: $black-opacity-3;
      margin: $divider-margins auto $divider-margins + 25;
      width: $divider-width;

    }

    .v-image__image--contain {
      top: $top-dim;
    }

    .v-avatar {
      @include shadow-big;
    }
  }
}
